<!-- {% extends 'base.html' %}

{% block title %}Admin Pannel{% endblock %}

{% block content %}
    <h1 class="my-4 text-center">Admin Panel</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Avx</th>
                    <th>Avy</th>
                    <th>Avz</th>
                    <th>Ax</th>
                    <th>Ay</th>
                    <th>Az</th>
                    <th>Mx</th>
                    <th>My</th>
                    <th>Mz</th>
                    <th>Altitude</th>
                    <th>Azimuth</th>
                    <th>Hacc</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Pitch</th>
                    <th>Roll</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for doc_id, doc_data in data.items|slice:":100" %}
                <tr>
                    <td>{{ doc_data.Avx }}</td>
                    <td>{{ doc_data.Avy }}</td>
                    <td>{{ doc_data.Avz }}</td>
                    <td>{{ doc_data.Ax }}</td>
                    <td>{{ doc_data.Ay }}</td>
                    <td>{{ doc_data.Az }}</td>
                    <td>{{ doc_data.Mx }}</td>
                    <td>{{ doc_data.My }}</td>
                    <td>{{ doc_data.Mz }}</td>
                    <td>{{ doc_data.altitude }}</td>
                    <td>{{ doc_data.azimuth }}</td>
                    <td>{{ doc_data.hacc }}</td>
                    <td>{{ doc_data.latitude }}</td>
                    <td>{{ doc_data.longitude }}</td>
                    <td>{{ doc_data.pitch }}</td>
                    <td>{{ doc_data.roll }}</td>
                    <td>{{ doc_data.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} -->
{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">go back to home</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Go to Admin Page</a>
    </div>
{% endblock %}
