{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center">Welcome to SensFit Dear User </h1>
    <div class="container mt-5">
        <h1 class="display-4 text-center">Welcome to SensFit</h1>
        {% if email %}
            <p class="lead text-center">Your email: {{ email }}</p>
        {% else %}
            <p class="lead text-center">Please log in to see your email.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
