{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to Our Website!</h1>
        <p class="lead">This is a simple  website where you get insights using sensors .This is a simple  website where you get insights using sensors .</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'data' %}" role="button">Go to Admin Page</a>
    </div> -->

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Avx</th>
                    <th>Avy</th>
                    <th>Avz</th>
                    <th>Ax</th>
                    <th>Ay</th>
                    <th>Az</th>
                    <th>Mx</th>
                    <th>My</th>
                    <th>Mz</th>
                    <th>Altitude</th>
                    <th>Azimuth</th>
                    <th>Hacc</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Pitch</th>
                    <th>Roll</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.23</td> <!-- Avx -->
                    <td>2.34</td> <!-- Avy -->
                    <td>3.45</td> <!-- Avz -->
                    <td>4.56</td> <!-- Ax -->
                    <td>5.67</td> <!-- Ay -->
                    <td>6.78</td> <!-- Az -->
                    <td>7.89</td> <!-- Mx -->
                    <td>8.90</td> <!-- My -->
                    <td>9.01</td> <!-- Mz -->
                    <td>123.45</td> <!-- altitude -->
                    <td>45.67</td> <!-- azimuth -->
                    <td>0.89</td> <!-- hacc -->
                    <td>12.345678</td> <!-- latitude -->
                    <td>98.765432</td> <!-- longitude -->
                    <td>12.34</td> <!-- pitch -->
                    <td>23.45</td> <!-- roll -->
                    <td>2023-07-11 10:00:00</td> <!-- timestamp -->
                </tr>
                <tr>
                    <td>1.23</td> <!-- Avx -->
                    <td>2.34</td> <!-- Avy -->
                    <td>3.45</td> <!-- Avz -->
                    <td>4.56</td> <!-- Ax -->
                    <td>5.67</td> <!-- Ay -->
                    <td>6.78</td> <!-- Az -->
                    <td>7.89</td> <!-- Mx -->
                    <td>8.90</td> <!-- My -->
                    <td>9.01</td> <!-- Mz -->
                    <td>123.45</td> <!-- altitude -->
                    <td>45.67</td> <!-- azimuth -->
                    <td>0.89</td> <!-- hacc -->
                    <td>12.345678</td> <!-- latitude -->
                    <td>98.765432</td> <!-- longitude -->
                    <td>12.34</td> <!-- pitch -->
                    <td>23.45</td> <!-- roll -->
                    <td>2023-07-11 10:05:00</td> <!-- timestamp -->
                </tr>
                <tr>
                    <td>1.23</td> <!-- Avx -->
                    <td>2.34</td> <!-- Avy -->
                    <td>3.45</td> <!-- Avz -->
                    <td>4.56</td> <!-- Ax -->
                    <td>5.67</td> <!-- Ay -->
                    <td>6.78</td> <!-- Az -->
                    <td>7.89</td> <!-- Mx -->
                    <td>8.90</td> <!-- My -->
                    <td>9.01</td> <!-- Mz -->
                    <td>123.45</td> <!-- altitude -->
                    <td>45.67</td> <!-- azimuth -->
                    <td>0.89</td> <!-- hacc -->
                    <td>12.345678</td> <!-- latitude -->
                    <td>98.765432</td> <!-- longitude -->
                    <td>12.34</td> <!-- pitch -->
                    <td>23.45</td> <!-- roll -->
                    <td>2023-07-11 10:10:00</td> <!-- timestamp -->
                </tr>
                <tr>
                    <td>1.23</td> <!-- Avx -->
                    <td>2.34</td> <!-- Avy -->
                    <td>3.45</td> <!-- Avz -->
                    <td>4.56</td> <!-- Ax -->
                    <td>5.67</td> <!-- Ay -->
                    <td>6.78</td> <!-- Az -->
                    <td>7.89</td> <!-- Mx -->
                    <td>8.90</td> <!-- My -->
                    <td>9.01</td> <!-- Mz -->
                    <td>123.45</td> <!-- altitude -->
                    <td>45.67</td> <!-- azimuth -->
                    <td>0.89</td> <!-- hacc -->
                    <td>12.345678</td> <!-- latitude -->
                    <td>98.765432</td> <!-- longitude -->
                    <td>12.34</td> <!-- pitch -->
                    <td>23.45</td> <!-- roll -->
                    <td>2023-07-11 10:15:00</td> <!-- timestamp -->
                </tr>
                <tr>
                    <td>1.23</td> <!-- Avx -->
                    <td>2.34</td> <!-- Avy -->
                    <td>3.45</td> <!-- Avz -->
                    <td>4.56</td> <!-- Ax -->
                    <td>5.67</td> <!-- Ay -->
                    <td>6.78</td> <!-- Az -->
                    <td>7.89</td> <!-- Mx -->
                    <td>8.90</td> <!-- My -->
                    <td>9.01</td> <!-- Mz -->
                    <td>123.45</td> <!-- altitude -->
                    <td>45.67</td> <!-- azimuth -->
                    <td>0.89</td> <!-- hacc -->
                    <td>12.345678</td> <!-- latitude -->
                    <td>98.765432</td> <!-- longitude -->
                    <td>12.34</td> <!-- pitch -->
                    <td>23.45</td> <!-- roll -->
                    <td>2023-07-11 10:20:00</td> <!-- timestamp -->
                </tr>
                
            </tbody>
        </table>
    </div>
{% endblock %}
